.animate-fade-in-page {
  animation: fade-in-page 300ms ease-out forwards;
}

@keyframes fade-in-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-goofball {
  animation: goofball 4s linear infinite;
}

@keyframes goofball {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.3);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.animate-nav-fade-in {
  opacity: 0;
  overflow: hidden;
  animation: fade-in 300ms ease-out forwards;
}

@keyframes fade-in {
  0% {
    margin-left: 0;
    max-width: 0;
    opacity: 0;
  }
  100% {
    margin-left: 1.5rem;
    max-width: 3.5rem;
    opacity: 1;
  }
}

.animate-nav-fade-out {
  opacity: 1;
  overflow: hidden;
  animation: fade-out 300ms ease-out forwards;
}

@keyframes fade-out {
  0% {
    margin-left: 1.5rem;
    max-width: 3.5rem;
    opacity: 1;
  }
  100% {
    margin-left: 0;
    max-width: 0;
    opacity: 0;
  }
}
